#!/bin/sh
# Rename this file to .autoboot
# and chmod 755 .autoboot
# to start container on OS boot
# You can edit this file
# or rewrite to any language

case "${1}" in
	'start')
		#exec "$(dirname ${0})/start.sh" strip
		exec "$(dirname ${0})/start.sh"
	;;
	'stop')
		exec "$(dirname ${0})/stop.sh"
	;;
esac

exit 1
