#!/bin/sh
# Rename this file to .autoboot
# and chmod 755 .autoboot
# to start container on OS boot
# You can edit this file
# or rewrite to any language

case "${1}" in
	'start')
		script="${1}.sh"
		[ -x "$(dirname ${0})/ns-${1}.sh" ] && script="ns-${1}.sh"

		#exec "$(dirname ${0})/${script}" strip
		exec "$(dirname ${0})/${script}" strip
	;;
	'stop')
		script="${1}.sh"
		[ -x "$(dirname ${0})/ns-${1}.sh" ] && script="ns-${1}.sh"

		exec "$(dirname ${0})/${script}" strip
	;;
esac

exit 1
