### Container configuration
# Misc
CONTAINER_NAME='samba'
DESTINATION="$(dirname $0)"
CONTAINER_ROOT='.container'

# Start/Stop
MOUNT_LABEL="${CONTAINER_NAME}"

# Service
CONTAINER_SERVICES='/etc/init.d/samba'

# Console
SHELL_PROMPT="${CONTAINER_NAME}"'> '
